.menu-container {
  width: 75%;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
  background-image: url('https://wallpapers.com/images/hd/cream-color-background-4bzuv5ojrzh90bls.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.menu-header {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.category-filter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.category-button {
  background-color: #f0c14b;
  border: 1px solid #a88734;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-button.active {
  background-color: #a88734;
  color: white;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.menu-item {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Add this block for the shutter effect */
.menu-item-image-container {
  position: relative;
  overflow: hidden;
  height: 150px;
}

.menu-item-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
}

.item-description {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 220, 0.9);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  transition: top 0.5s ease;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}

.menu-item-image-container:hover .menu-item-image {
  transform: translateY(-100%);
}

.menu-item-image-container:hover .item-description {
  top: 0;
}

.menu-item-footer {
  padding: 1rem;
  text-align: center;
}

.menu-item-title {
  margin: 0;
  font-size: 1.2rem;
}

.item-price {
  margin: 0.5rem 0;
  color: #888;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart-button {
  background-color: #f0c14b;
  border: 1px solid #a88734;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.add-to-cart-button i {
  margin-right: 0.5rem;
}

.counter {
  display: flex;
  align-items: center;
}

.counter button {
  padding: 5px 10px;
  background: #f0c14b;
  border: 1px solid #a88734;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.counter span {
  margin: 0 0.5rem;
}
