.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://wallpapers.com/images/hd/cream-color-background-4bzuv5ojrzh90bls.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 75%; /* Ensure the menu takes up 75% of the width */
  height: 100vh;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.menu-header {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.menu-item {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-item-image {
  height: 150px;
  background-size: cover;
  background-position: center;
}

.menu-item-footer {
  padding: 1rem;
  text-align: center;
}

.menu-item-title {
  margin: 0;
  font-size: 1.2rem;
}

.item-price {
  margin: 0.5rem 0;
  color: #888;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart-button {
  background-color: #f0c14b;
  border: 1px solid #a88734;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.add-to-cart-button i {
  margin-right: 0.5rem;
}

.counter {
  display: flex;
  align-items: center;
}

.counter button {
  padding: 5px 10px;
  background: #f0c14b;
  border: 1px solid #a88734;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.counter span {
  margin: 0 0.5rem;
}
